<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.BaseChainHotelMapper">
    
    <resultMap type="BaseChainHotel" id="BaseChainHotelResult">
        <result property="chotelId"    column="chotel_id"    />
        <result property="chotelParent"    column="chotel_parent"    />
        <result property="chotelName"    column="chotel_name"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBaseChainHotelVo">
        select chotel_id, chotel_parent, chotel_name, remark from base_chain_hotel
    </sql>

    <select id="selectBaseChainHotelList" parameterType="BaseChainHotel" resultMap="BaseChainHotelResult">
        <include refid="selectBaseChainHotelVo"/>
        <where>  
            <if test="chotelParent != null "> and chotel_parent = #{chotelParent}</if>
            <if test="chotelName != null  and chotelName != ''"> and chotel_name like concat('%', #{chotelName}, '%')</if>
        </where>
    </select>
    
    <select id="selectBaseChainHotelByChotelId" parameterType="Long" resultMap="BaseChainHotelResult">
        <include refid="selectBaseChainHotelVo"/>
        where chotel_id = #{chotelId}
    </select>
        
    <insert id="insertBaseChainHotel" parameterType="BaseChainHotel" useGeneratedKeys="true" keyProperty="chotelId">
        insert into base_chain_hotel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chotelParent != null">chotel_parent,</if>
            <if test="chotelName != null and chotelName != ''">chotel_name,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chotelParent != null">#{chotelParent},</if>
            <if test="chotelName != null and chotelName != ''">#{chotelName},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBaseChainHotel" parameterType="BaseChainHotel">
        update base_chain_hotel
        <trim prefix="SET" suffixOverrides=",">
            <if test="chotelParent != null">chotel_parent = #{chotelParent},</if>
            <if test="chotelName != null and chotelName != ''">chotel_name = #{chotelName},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where chotel_id = #{chotelId}
    </update>

    <delete id="deleteBaseChainHotelByChotelId" parameterType="Long">
        delete from base_chain_hotel where chotel_id = #{chotelId}
    </delete>

    <delete id="deleteBaseChainHotelByChotelIds" parameterType="String">
        delete from base_chain_hotel where chotel_id in 
        <foreach item="chotelId" collection="array" open="(" separator="," close=")">
            #{chotelId}
        </foreach>
    </delete>
</mapper>